body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* cart button in navbar */
nav button {
  padding: 16px;
  cursor: pointer;
}

/* don't display add to cart buttons on cart componenent */
.cart .add-to-cart {
  display: none;
}
