body {
  font-family: sans-serif;
  margin-bottom: 5em;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.navbar-item img {
  max-height: 3.75rem;
}

nav a {
  display: inline-block;
  margin: 1em 0.5em;
}

nav .button {
  padding: 1em;
  cursor: pointer;
}

/* cart button in navbar */
#cart-button {
  margin-right: 2em;
}

#cart-button i {
  padding-right: 0.3rem;
}

/* don't display add to cart buttons on cart componenent */
.cart .add-to-cart {
  display: none;
}

.input {
  width: 30%;
}
.cart footer {
  padding: 3rem 1.5rem;
}

/* checkout button */
#cart-checkout {
  margin-left: 1em;
}
/* single product desc*/
.desc {
  margin-bottom: 1.5rem;
}

.cart-total i,
.cart-total h4 {
  margin-right: 0.5rem;
}

.cart-total h4 {
  color: #666;
}

.product.card {
  margin-bottom: 2rem;
}
