body {
  font-family: sans-serif;
  margin-bottom: 5em;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* cart button in navbar */
nav button {
  padding: 16px;
  cursor: pointer;
}

/* don't display add to cart buttons on cart componenent */
.cart .add-to-cart {
  display: none;
}

.cart footer {
  padding: 3rem 1.5rem;
}

/* checkout button */
#cart-checkout {
  margin-left: 1em;
}
/* single product desc*/
.desc {
  margin-bottom: 1.5rem;
}
